*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("background.jpg");
    /* background-position: 0; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: sans-serif;

}

#navbar{
    background-color: rgb(34, 81, 34);
    text-align: center;
}

#navbar ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}

#navbar ul li{
    margin: 15px;
    padding: 15px;
    font-size: 1rem;
    width: 100%;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
}

.active, #navbar ul li:hover{
    background-color: #2bab0d;
    border-radius: 3px;
}

[class^="fa"]{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

#navbar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(34, 81, 34);
    margin-top: 15px;
    margin-left: -15px;
}

#navbar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

#navbar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

#navbar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

#navbar ul li:hover .sub-menu-1 ul li a:hover{
    color:yellow;
}

.fa-angle-right{
      color: white;
      float: right;
}
.sub-menu-2{
    display: none;
}

.hover-me:hover .sub-menu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    background-color: rgb(34, 81, 34);;
}